doctype html
head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Octolion shop
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css')
    link(rel="stylesheet" href=`/static/assets/main${dev ? '.css' : '.min.css'}`)
body(style="display: flex; min-height:100vh; flex-direction: column")
    script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    script(src="https://cdn.jsdelivr.net/npm/vue")
    div(id="app")
        include navbar.pug
        block hero
        block content
        include footer.pug
    script.
        var app= new Vue({
            el: "#app",
            data: {
                query: ""
            },
            methods: {
                search() {
                    let query = "?tags[]=";
                    query = query.concat(this.query);
                    query = query.replace(" ", "&tags[]=");
                    window.location.href = query.toLowerCase();
                }
            }
        })